
.list {
    list-style-type: none;
}
.link {
    text-decoration: none;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
/* =======HEADER STYLES ======*/
.logo {
color: var(--IRIS, #4D5AE5);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
logo-span {
    color: #2E2F42;
}
.menu-link {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.menu-link:hover {
color: #404BBF;
}
.menu-link:focus {
    color: #404BBF;
}
.adress {
    font-style: normal;
}
.mail {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.mail:hover {
    color: #404BBF;
}
.mail:focus{
    color: #404BBF;
}

.telephone {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.telephone:hover {
    color: #404BBF;
}
.telephone:focus {
    color: #404BBF;
}
/* =======HEADER STYLES ======*/

/* ====== HERO SECTION =====*/
.hero-section {
    background-color: #2E2F42;
}

.solutions {
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.button {
    color: #FFFFFF;
    border: 70px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background: #4D5AE5;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.button:hover {
    background-color: #404BBF;
}
.button:focus {
    background-color: #404BBF; 
}
/* ====== HERO SECTION =====*/


/* ====== OUR BENEFITS =====*/
.our-benefits {
    background-color: #F4F4FD; 
}
.benefits {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.secondary-menu {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* ====== OUR BENEFITS =====*/
